{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Youtube Wrapper{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/1f1d5d3840.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!-- Add Select2 JS and CSS --> <!-- Add Select2 CSS --> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" /> <!-- Add Select2 JS --> <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <style>
      html {
    font-size: 90%;
}
.main-content {
  min-height: 100vh; 
  padding-top: 65px;
}
  </style>
    {% block head %}{% endblock %}
  </head>
  
  <body>
    <div class="flex-container" style="display: flex; flex-direction: column; min-height: 100vh;">

{% if "login" in request.path or "register" in request.path %}
<style>
  .main-content{
    margin-top: -100px;
  }
</style>
  {% else %}
  {% include 'navbar.html' %}
{% endif %}
  <div class="container-fluid main-content topm">
    <div class="errors">
    {% for message in messages %}
    {% if message.tags == "success" %}
      <div class="alert alert-success">{{ message }}</div>
    {% elif message.tags == "error" %}
      <div class="alert alert-danger">{{ message }}</div>
    {% else %}
      <div class="alert">{{ message }}</div>
    {% endif %}
  {% endfor %}
</div>
    {% block content %}{% endblock %}  
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script>
function handleNavbarScroll() {
  const navbar = document.querySelector('.custom-navbar');
  const logoFull = document.querySelector('.logo-full');
  const logoSmall = document.querySelector('.logo-small');
  const mainContent = document.querySelector('.main-content');
  if (window.scrollY > 20) {
    navbar.classList.add('scrolled');
    logoFull.classList.add('d-none');
    logoSmall.classList.remove('d-none');
  } else {
    navbar.classList.remove('scrolled');
    logoFull.classList.remove('d-none');
    logoSmall.classList.add('d-none');
  }
}

window.addEventListener('scroll', handleNavbarScroll);
</script>

{% block scripts %}
{% endblock %}
  </body>
</html>